/data/models/Mistral-7B-v0.3.Q8_0.gguf
environment/*
!environment/*.example
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
.idea/
.vscode/
data/models/
.idea/modules.xml
package-lock.json
demos/__pycache__/llama_demo.cpython-312.pyc
llm/__pycache__/
llm/configuration/__pycache__/
llm/inference_provider/__pycache__/
llm/model_provider/__pycache__/
server/__pycache__/
server/messages/__pycache__/
server/routes/__pycache__/
utils/__pycache__/
data/.DS_Store
.DS_Store
/data/checkpoints/app_checkpoints.db
/data/
/server/data/
/dist/*
/build/*

# Virtual Environment
venv/
venv/*
.venv/
